.article-list {
	margin: 0;
	padding: 0;
}

.article-list-item {
	position: relative;
	margin: 1em 0 2em;
	list-style-type: none;
}

.article-list-cat {
	margin: 0 20px 1px;
	font-size: 14px;
	color: #a0a0a0;

	a {
		color: #c1c1c1;
		font-weight: 500;
		font-size: 	12px;

		&:hover {
			color: #a0a0a0;
		} 
	}
}

.article-list-image {
	position: relative;
  display: block;
  width: 100%;
  padding-bottom: 30%;
  min-height: 180px;
  background-size: 100%;
  background-position: center;
  // -webkit-transition:background-size .3s ease-in;
  // -moz-transition:background-size .3s ease-in;
  // -o-transition:background-size .3s ease-in;
  // transition:background-size .3s ease-in;

  &:hover {
  // 	background-size: 105%;
  }
}

.article-image-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
}

.article-link {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform( translate(-50%, -50%) );
	color: #fff;
	width: 80%;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	z-index: 1;
}

.category-title {
	margin: 20px;
	text-transform: uppercase;
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

