.article-list {
	margin: 0;
	padding: 0;
}

.article-list-item {
	position: relative;
	margin: 1em 0 3em;
	padding: 10px 0;
	list-style-type: none;
}

.article-list-cat {
	margin: 0 20px 1px;
	font-size: 	12px;
	color: #a0a0a0;

	a {
		color: #c1c1c1;
		font-weight: 500;

		&:hover {
			color: #335556;
		} 
	}


}

.article-title {
	margin: 0 20px;
}

.article-link {
	font-family: Montserrat;
	margin: 0;
}



.category-title {
	margin: 20px;
}

.the_excerpt {
	padding: 0 20px;
	max-width: 600px;
	display: block;
	margin: auto;
	font-size: 14px;
}

.read-more {
	font-size: 14px;
	color: #c1c1c1;
	font-weight: 500;
	border-bottom: 1px solid #c1c1c1;

	&:hover {
		border-color: #335556;
	}
}

@media(max-width: 560px) {
	.article-link {
		margin: 0 20px;
	}
	.article-list-item {

	}
	.article-list-cat {
		display: none;

		&.mobile {
			display: block;
		}
	}
}

@media(min-width: 561px) {
	.article-list-image {
		position: relative;
	  display: block;
	  width: 100%;
	  padding-bottom: 20%;
	  min-height: 180px;
	  background-size: 100%;
	  background-position: center;
	  // -webkit-transition:background-size .3s ease-in;
	  // -moz-transition:background-size .3s ease-in;
	  // -o-transition:background-size .3s ease-in;
	  // transition:background-size .3s ease-in;

	  &:hover {
	  // 	background-size: 105%;
	  }
	}
	.article-image-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .4);
	}

	.article-link {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform( translate(-50%, -50%) );
		color: #fff;
		width: 80%;
		text-align: center;
		font-weight: 500;
		font-size: 20px;
		z-index: 1;
	}
	.article-list-cat.mobile {
		display: none;
	}
}