.comments-list {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li.comment {
			margin: 5px 0;
		}

		.comment.depth-1 {
			border-left: 3px solid #d4d4d4;
		}
		.comment.depth-2 {
			margin-left: 10px;
		}
	}

	p {
		margin: 0;
	}
}

.comment-content {
	width: 95%;
	font-size: 14px;
}

.comment-author.vcard {
	margin-right: 10px;

	img {
		border-radius: 0 40%;
	}
}

.author-name {
	font-size: 16px;
}

.comment-body {
	display: flex;
	@include transition(.3s all ease);
	// background: #ddd;
	padding-bottom: 5px;
	padding-right: 10px;

}

.comment-text {
	margin-bottom: 10px;
}

.commentmetadata {
	font-size: 12px;
	text-align: right;
}

#comment {
	width: 100%;
}

.comment-form-comment {
	margin: 0;
}

.comment_notes_after {
	font-size: 12px;
	margin: 0;
}

.comment-link {
	display: inline-block;
  width: 13px;
  vertical-align: middle;
  cursor: pointer;
}

.js-copy {
	opacity: 0;
}

.js-notice {
	display: inline;
}

.comment-reply-link {
	font-size: 12px;
	float: left;
}

#cancel-comment-reply-link {
	margin-left: 20px;
}