*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
	color: rgba(0,0,0,0.87);
	padding-top: 43px;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, serif;
  margin: 0;
  margin-bottom: 10px;
}

a {
	color: #5f9ea0;
	font-weight: 600;
	@include transition(.3s all ease);

	&,
	&:hover,
	&:visited,
	&:active,
	&:focus {
		outline: none;
		text-decoration: none;
	}
	&:hover {
		color: #335556;
	}
}

p {
	a {
		color: #5f9ea0;
	}
}

pre {
	background: #ddd;
	padding: 1em;
}

img {
	max-width: 100%;
}

input[type="submit"] {
	background: none;
	border: 1px solid #335556;
	box-shadow: none;
	outline: none;
	color: #335556;
	&:focus,
	&:active {
		color: #c1c1c1;
	}
}

img[src$='.svg'] {
	height: auto;
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

